<%- include("partials/header") -%>
    <center>
    <button><a href="/">Home</a></button>
    <button><a href="/report">Search</a></button>
    <button><a href="/booking">Booking</a></button>
    </center>
    <br>
    <br>
    <div>
        <h2>Total Revenue by Each Model</h2>
        <table>
            <tr>
                <th>Model</th>
                <th>Variant</th>
                <th>Revenue</th>
            </tr>
            <% if (data.revenue.length > 0) { %>
            <% for (let i = 0; i < data.revenue.length; i++) { %>
                <tr>
                    <td><%= data.revenue[i].model_name %></td>
                    <td><%= data.revenue[i].variant %></td>
                    <td><%= data.revenue[i].sum %></td>
                </tr>
            <% }} %>
        </table>
    </div>
    <br>
    <div>
        <h2>Passenger Count</h2>
        <form action="/report/passengerCount" method="POST">  
            <label for="name">Number of Passengers Travelling To(Destination Code)</label>
            <input type="text" name="destination" id="destination" value=<%=formData.destination%>>
            <h3>Between</h3>
            <label for="name">Start Date</label>
            <input type="date" name="start" id="start" value=<%=formData.start%>>
            <label for="name">End Date</label>
            <input type="date" name="end" id="end" value=<%=formData.end%>>
            <button type="submit">Get Count</button>
        </form>
        <% if (data.passengerCount.length > 0) { %>
            <h3>Passenger Count : <%= data.passengerCount %></h3>
        <% } %>
    </div>
    <br>
    <div>
        <h2>Booking Count</h2>
        <form action="/report/bookingCount" method="POST">  
            <label for="name">Number of Booking by each Customer type</label>
            <h3>Between</h3>
            <label for="name">Start Date</label>
            <input type="date" name="start" id="start">
            <label for="name">End Date</label>
            <input type="date" name="end" id="end">
            <button type="submit">Get Count</button>
            <% if (data.bookingCount.length > 0) { %>
                <h3>Booking Count : <%= data.bookingCount %></h3>
            <% } %>
    </div>
    <br>
    <div>
        <h2>Next Flight Passenger Details</h2>
        <form action="/report/nextFlight" method="POST">  
            <label for="name">Select Flight Route</label>
            <% if (data.route.length > 0) { %>
                <select id="route" name="route">
                    <% for (let i = 0; i < data.route.length; i++) { %>
                        <option value="<%= data.route[i].origin %> to <%= data.route[i].destination %>"><%= data.route[i].origin %> to <%= data.route[i].destination %></option>    
                    <% } %>
                </select>
                <button type="submit">Get Count</button>
            <% } else { %> 
                <h4>No Flights Available</h4>
            <% } %>

        </form>
        <% if (data.nextFlight.length > 0) { %>
            <table>
                <tr>
                    <th>Flight ID</th>
                    <th>Destination</th>
                    <th>Passenger Count</th>
                </tr>
                <% for (let i = 0; i < data.nextFlight.length; i++) { %>
                    <tr>
                        <td><%= data.nextFlight[i].Flight_ID %></td>
                        <td><%= data.nextFlight[i].Dest %></td>
                        <td><%= data.nextFlight[i].Passenger_Count %></td>
                    </tr>
                <% } %>
            </table>
        <% } %>
    </div>
<%- include("footer") -%>