<%- include("header") -%>
    <h1>Managerial Reports</h1>
    <br>
    <button><a href="/">Home</a></button>
    <button><a href="/report">Search</a></button>
    <button><a href="/booking">Booking</a></button>
    <br>
    <br>
    <form action="/report" method="POST">
        <label for="name">Number of Passengers Travelling To(Destination Code)</label>
        <input type="text" name="destination" id="destination">
        <button type="submit">Submit</button>

    </form>
    <br>
    <% if (flights.length > 0) { %>
        <h2>Flight List</h2>
        <table>
            <tr>
                <th>Flight ID</th>
                <th>Destination</th>
            
            </tr>
            <% for (let i = 0; i < flights.length; i++) { %>
                <tr>
                    <td><%= flights[i].Flight_ID %></td>
                    
                    <td><%= flights[i].Destination %></td>
                </tr>
            <% } %>
        </table>
    <% } 
    else if (flights.length == 0) { %>
        <h2>No flights found for <%=searchDestination%> </h2>
    <% } %>

<%- include("footer") -%>