<%- include ('partials/header') %> 
<%- include ('partials/nav_bar') %>

<h1>Fill in the following details</h1>
<div>
  <form action="/staff_register/registerstaff" method="POST">
    <div>
      <label for="first_name">First Name</label>
      <input type="text" name="first_name" id="first_name" required value=<%=formData.First_Name%>>
      <label for="last_name">Last Name</label>
      <input
        type="text"
        name="last_name"
        id="last_name"
        required
        style="display: block"
        value=<%=formData.Last_Name%>>

      <label for="gender">Gender</label>
      <select id="Gender" name="Gender">
        <option selected disabled>--Choose one--</option>
        <%
        var Gender = ["Female","Male","Other"];
        for( let i=0; i< Gender.length; i++){
          var selected = formData.Gender;
          %><option value="<%=Gender[i] %>" <%=selected %>><%=Gender[i] %></option><%
        }
        %>
      </select>

      <label for="date_of_birth">Date of Birth</label>
      <input type="date" name="date_of_birth" id="date_of_birth" required value=<%=formData.DOB%>>
    </div>
    <div>
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        required
        style="display: block"
        value=<%=formData.Email%>
      >
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        required
        style="display: block"
        value=<%=formData.Password%>
      >
      <label for="mobile">Mobile</label>
      <input
        type="text"
        name="mobile"
        id="mobile"
        required
        style="display: block"
        value=<%=formData.Contact%>
      >

      <label for="user_type">Category</label>
      <select id="Category" name="Category">
        <option selected disabled>--Choose one--</option>
        <%
        var Category = ["Female","Male","Other"];
        for( let i=0; i< Category.length; i++){
          var selected = formData.Category;
          %><option value="<%=Category[i] %>" <%=selected %>><%=Category[i] %></option><%
        }
        %>
      </select>
    </div>
    <center>
        <button class="create-account-button type="submit">Register</button>
      </center>
      </form>
    </div>

  

<%- include ('partials/footer') %>
